<li [ngClass]="{'completed': todo.completado, 'editing': editando}">
    <div class="view">
        <input type="checkbox" class="toggle" [formControl]="chkField" [checked]="todo.completado">
        <label (dblclick)="editar()">{{ todo.texto }}</label>
        <button (click)="borrarTodo()" class="destroy"></button>
    </div>
    <input #txtInputFisico class="edit" [value]="todo.texto" [formControl]="txtInput"
            (keyup.enter)="terminarEdicion(); txtInput = null"
            (blur)="terminarEdicion(); txtInput = null">
</li>